@charset "utf-8";

/*************************************************************************************
 Console
 *************************************************************************************/

:host * {
	margin: 0;
	padding: 0;
}
:host > * {
	font-size: 11px;
	font-family: Menlo, monospace, sans-serif;
	text-align: left;
	text-indent: 0;
	line-height: 1.7;
	color: #333333;
}

:host > *,
:host > *:before,
:host > *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:host {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000000000;
	background: rgba(255, 255, 255, 0.8);
	min-height: 26px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

:host .stylev-console-header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #EEE;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #CCC;
	border-right-width: 0;
	border-left-width: 0;
	flex: 0 1 auto;
	cursor: ns-resize;
}
:host .stylev-console-header:active {
	border-style: dashed;
}
:host .stylev-console-header > * {
	display: flex;
	align-self: stretch;
	align-items: center;
	flex: 0 0 auto;
	min-height: 26px;
}
:host .stylev-console-heading {
	justify-content: center;
	flex-basis: 32px;
}
:host .stylev-console-heading-logo {
	display: flex;
}
:host .stylev-console-heading-logo-image {
	width: 20px;
	height: 20px;
	margin: auto;
}
:host .stylev-console-mode {
	padding-left: 6px;
	padding-right: 10px;
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px auto;
	color: white;
	line-height: 1.1;
	flex-shrink: 0;
}
:host .stylev-console-mode-image {
	width: 18px;
	height: 18px;
	vertical-align: -18%;
	margin-right: 5px;
}
:host .stylev-console-mode-devtools-connected {
	background-color: green;
}
:host .stylev-console-mode-devtools-disconnected {
	background-color: red;
}
@media (max-width: 640px) {
	:host .stylev-console-mode {
		position: relative;
		width: 30px;
		color: transparent;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		padding: 0;
		background-position: center center;
	}
	:host .stylev-console-mode-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
}

:host .stylev-console-counter {
	flex-grow: 1;
	padding-right: 10px;
	line-height: 1.2;
}
:host .stylev-console-buttons {
	/* border-left: 1px solid #CCC; */
}
:host .stylev-console-buttons > a {
	position: relative;
	width: 30px;
	color: inherit;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
:host .stylev-console-buttons > a > img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
:host .stylev-console-refresh-button {
}
:host .stylev-console-refresh-button-image {
	width: 23px;
	height: 23px;
}
:host .stylev-console-refresh-button-image-active {
	-webkit-animation: active-refresh-button 1s infinite;
	-o-animation: active-refresh-button 1s infinite;
	animation: active-refresh-button 1s infinite;
}
:host .stylev-console-refresh-count {
	position: absolute;
	top: 1px;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 10px;
}
@keyframes active-refresh-button {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1.25);
	}
}
@-webkit-keyframes active-refresh-button {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1.25);
	}
}


:host .stylev-console-close-button {
}
:host .stylev-console-close-button-image {
	width: 16px;
	height: 16px;
}
:host .stylev-console-minimize-button {
}
:host .stylev-console-minimize-button-image {
	width: 16px;
	height: 16px;
}
:host .stylev-console-normalize-button {
}
:host .stylev-console-normalize-button-image {
	width: 16px;
	height: 16px;
}
:host .stylev-console-body {
	flex: 1 1 auto;
	overflow-y: auto;
}
:host .stylev-console-list {
	list-style: none;
	line-height: 1.5;
}
:host .stylev-console-list > li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 0 2px;
}
:host .stylev-console-list > li + li {
	border-top: 1px solid #EEE;
}
:host .stylev-console-list-anchor {
	flex-grow: 1;
	padding: 0 5px;
	color: inherit !important;
	text-decoration: none !important;
	cursor: pointer;
	text-indent: calc(-1.2em - 10px);
	padding-left: calc(1.2em + 10px);
}
:host .stylev-console-list-anchor:before {
	text-indent: 0;
	margin-left: 5px;
}
:host .stylev-console-list-anchor:hover {
	text-decoration: underline;
}
:host .stylev-console-list-logid {
	padding: 0 5px;
}
:host .stylev-console-list > li.stylev-trigger-error {
	border-color: #FFD8D7;
}
:host .stylev-console-list > li.stylev-trigger-warning {
	border-color: #FFDD9E;
}
:host .stylev-console-list > li.stylev-trigger-error {
	background-color: #FFEFEF;
	color: #FF0000;
}
:host .stylev-console-list > li.stylev-trigger-error > a:before {
	content: '×';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2;
	margin-right: 0.5em;
	vertical-align: middle;
	background: #FF0000;
	border-radius: 100%;
	color: #FFF;
	text-align: center;
}
:host .stylev-console-list > li.stylev-trigger-warning {
	background-color: #FFFBE5;
	color: #444444;
}
:host .stylev-console-list > li.stylev-trigger-warning > a:before {
	content: '!';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2;
	margin-right: 0.5em;
	vertical-align: middle;
	background: #F6BE00;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	color: #FFF;
	text-align: center;
}
:host .stylev-console-list > li.stylev-trigger-selected > a {
	font-weight: bold;
}

:host .stylev-console-list > li.stylev-console-perfect {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 38px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
