@charset "utf-8";

/*************************************************************************************
 Console
 *************************************************************************************/

:host * {
	margin: 0;
	padding: 0;
}
:host > * {
	font-size: 12px;
	font-family: 'メイリオ', 'Meiryo', sans-serif;
	text-align: left;
	text-indent: 0;
}
:host {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000000000;
	background: rgba(255, 255, 255, 0.8);
	min-height: 30px;
}

:host .stylev-console-header {
	position: relative;
	background-color: #EEE;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #CCC;
	border-right-width: 0;
	border-left-width: 0;
	height: 30px;
	line-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: ns-resize;
}
:host .stylev-console-header:active {
	border-style: dashed;
}
:host .stylev-console-heading {
	font-size: 12px;
	font-weight: normal;
	width: auto;
	text-align: left;
	float: left;
	padding: 0 10px;
}
:host .stylev-console-heading-logo {
	display: block;
}
:host .stylev-console-heading-logo-image {
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	margin-right: 5px;
	/*margin-top: -3px;*/
	/*margin-top: auto;*/
	/*margin-bottom: auto;*/
}

@media (max-width: 460px) {

	:host .stylev-console-heading {
		display: none;
	}
}
:host .stylev-console-mode {
	clear: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px auto;
	color: white;
}
:host .stylev-console-mode-image {
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	margin-right: 5px;
}
:host .stylev-console-mode-devtools-connected {
	background-color: green;
}
:host .stylev-console-mode-devtools-disconnected {
	background-color: red;
}
@media (max-width: 600px) {
	:host .stylev-console-heading {
		display: none;
	}
}

@media (max-width: 450px) {
	:host .stylev-console-mode {
		width: 30px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		padding: 0;
		background-position: center center;
	}
}

:host .stylev-console-counter {
	float: right;
	padding: 0 10px;
}
:host .stylev-console-buttons {
	float: right;
	border-left: 1px solid #CCC;
}
:host .stylev-console-buttons > a {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: inherit;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
:host .stylev-console-buttons > a > img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
:host .stylev-console-refresh-button {
}
:host .stylev-console-refresh-button-image {
	width: 20px;
	height: 20px;
}
:host .stylev-console-close-button {
}
:host .stylev-console-close-button-image {
	width: 15px;
	height: 15px;
}
:host .stylev-console-minimize-button {
}
:host .stylev-console-minimize-button-image {
	width: 15px;
	height: 15px;
}
:host .stylev-console-normalize-button {
}
:host .stylev-console-normalize-button-image {
	width: 15px;
	height: 15px;
}
:host .stylev-console-list {
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	bottom: 0;
	list-style: none;
	overflow-y: auto;
}
:host .stylev-console-list > li + li {
	border-top: 1px solid #EEE;
}
:host .stylev-console-list > li > a {
	display: block;
	padding: 2px 5px;
	padding-right: 7em;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	/*white-space: nowrap;*/
	/*text-overflow: ellipsis;*/
	/*overflow: hidden;*/
	/*padding-right: 6em;*//*TODO: test001*/
	text-indent: calc(-1.2em - 10px);
	padding-left: calc(1.2em + 10px);
}
:host .stylev-console-list > li > a:before,
:host .stylev-console-list > li > a:after {
	text-indent: 0;
	margin-left: 5px;
}
:host .stylev-console-list > li > a:hover,
:host .stylev-console-list > li > a:hover span {
	text-decoration: underline;
}
:host .stylev-console-list > li > a > span {
	position: absolute;
	right: 0;
	padding: 0 10px;
	text-indent: 0;
	/*display: none;*//*TODO: test001*/
}
:host .stylev-console-list > li.stylev-trigger-error {
	border-color: #FFD8D7;
}
:host .stylev-console-list > li.stylev-trigger-warning {
	border-color: #FFDD9E;
}
:host .stylev-console-list > li.stylev-trigger-error > a {
	background-color: #FFEFEF;
	color: #FF0000;
}
:host .stylev-console-list > li.stylev-trigger-error > a:before {
	content: '×';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2;
	margin-right: 0.5em;
	vertical-align: middle;
	background: #FF0000;
	border-radius: 100%;
	color: #FFF;
	text-align: center;
}
:host .stylev-console-list > li.stylev-trigger-warning > a {
	background-color: #FFFBE5;
	color: #444444;
}
:host .stylev-console-list > li.stylev-trigger-warning > a:before {
	content: '!';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2;
	margin-right: 0.5em;
	vertical-align: middle;
	background: #F6BE00;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	color: #FFF;
	text-align: center;
}
:host .stylev-console-list > li.stylev-trigger-selected > a {
	font-weight: bold;
}



:host [data-stylevclass="stylev-console-perfect"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 38px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
