@charset "utf-8";

/* reset */
ul {
	list-style: none;
}
img {
	vertical-align: middle;
	pointer-events: none;
}
html {
	font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
}

/* anchors */
a:link,
a:visited {
	color: #359C62;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

/* page style */
body {
	padding: 25px 25px;
	color: #464646;
	margin: 0;
}
.wrapper {
	max-width: 1200px;
	min-width: 1000px;
	margin: 0 auto;
}
.header {
}
.header-heading {
	margin: 0;
	font-size: 22px;
}
.main {
	overflow: hidden;
	margin-top: 20px;
}
.header {
	position: relative;
	overflow: hidden;
}
.header-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	height: 50px;
	line-height: 50px;
	margin-top: auto;
	margin-bottom: auto;
}
.header-nav-list {
	margin: 0;
}
.header-nav-list > li {
	display: inline-block;
	vertical-align: middle;
}
.header-nav-list > li + li {
	margin-left: 20px;
}
.header-nav-list > li a {
	display: block;
}
.header-nav img {
	margin-right: 10px;
	height: 25px;
	width: auto;
}
.note-list > li + li {
	margin-top: 10px;
}
hr {
	border-style: solid;
	border-color: #000;
	border-width: 1px 0 0 0;
}
.header-heading img {
	position: relative;
	top: -1px;
	margin-right: 10px;
	width: 40px;
}
.main-capture {
	float: right;
	width: 60%;
	margin-top: 20px;
	-webkit-box-reflect: below 40px
	-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}
.main-body {
	float: left;
	width: 40%;
	padding-right: 30px;
	box-sizing: border-box;
}
.browser-support {
	position: absolute;
	top: 10px;
	right: 15px;
}
.browser-support > li.disabled {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.browser-support > li {
	float: right;
}
.browser-support > li + li {
	margin-right: 5px;
}
.browser-support > li img {
	width: 20px;
	height: auto;
}
.section-heading + * {
	position: relative;
}
.section-heading + * a {
	display: block;
	padding: 10px 15px;
	border: 1px solid gray;
	text-decoration: none !important;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	background-color: rgba(255, 255, 255, 0.7);
	color: #359C62 !important;
}
.section-heading + * a:hover {
	border-color: rgb(49, 194, 92);
}
.section-heading + * a > img {
	margin-top: 10px;
}
#bookmarklet:after {
	content: 'Bookmark this link.';
	display: block;
	color: #7C7D80 !important;
}