@charset "utf-8";

/* reset */
body, div, p, ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, table, th, td, img, form, figure {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, small {
	font-size: inherit;
}
img, input, select, textarea, button, svg, canvas, object {
	vertical-align: middle;
}
input, select, textarea, button {
	/*outline: 0;*/
	background-color: inherit;
	color: inherit;
}
input, textarea {
	line-height: inherit;
}
input, select, textarea, button, h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-family: inherit;
}

input:disabled, select:disabled, textarea:disabled, button:disabled {
	opacity: 0.6;
}
label {
	cursor: pointer;
}
html {
	font-size: 13px;
	line-height: 1.4;
	font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #F9F9F9;
	color: #768A7E;
}

/* anchors */
a:link,
a:visited {
	color: #359C62;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

/* clearfix */
.cf:after {
	content: '';
	display: block;
	clear: both;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: calc(2% + 8px) 4%;
	background: #F9F9F9;
	z-index: 1000;
	align-items: center;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.header-heading {
	display: flex;
	font-size: 26px;
	font-weight: normal;
	/* padding-left: 54px; */
	/* text-indent: -54px; */
	line-height: 1.05;
	align-items: center;
	flex: 1 0 33.333%;
}
.header-heading img {
	margin-right: 8px;
	width: 46px;
}
.header-nav {
	flex: 1 0 66.666%;
	padding-left: 4%;
}
.header-nav-list {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.header-nav-list > li {
	flex-shrink: 0;
}
.header-nav-list > li + li {
	margin-left: 3%;
}
.header-nav-list > li > a {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 2px 4px 2px 0;
}
.header-nav img {
	margin-right: 6px;
	height: 25px;
	width: auto;
}

.footer {
	padding: calc(2% + 5px) 4%;
	background: #333333;
	color: white;
	min-height: 210px;
}

/* module */
input[type="text"] {
	background-color: white;
	border: 1px solid #DDD;
}
input[type="radio"],
input[type="checkbox"] {
	margin-top: 0;
	margin-bottom: 0;
}
button,
.button {
	background-color: #FAFAFA;
	color: inherit !important;
	border: 0;
	font-size: 11px;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
	border-radius: 4px;
	border-bottom: 2px solid #CECECE;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.note-list {
	counter-reset: note-list;
}
.note-list > li {
	text-indent: -1.1em;
	padding-left: 1.1em;
}
.note-list > li:before {
	counter-increment: note-list;
	content: counter(note-list,decimal) ', ';
}

.is-hidden {
	display: none !important;
}

@media (max-width: 640px) {
	.header {
		flex-direction: column;
	}
	.header > * {
		flex-basis: auto;
	}
	.header-nav {
		padding-left: 0;
		margin-top: 10px;
	}
	.header-nav-list {
		justify-content: center;
	}
	.header-nav-list > li + li > a {
		padding-left: 0;
	}
	.header-nav-list > li > a {
		padding: 2px 10px;
	}
}