@charset "utf-8";

#stylev-console-wrapper,
#stylev-console-wrapper * {
	margin: 0 !important;
	padding: 0 !important;
}

#stylev-console-wrapper *,
#stylev-console-wrapper *:before,
#stylev-console-wrapper *:after {
	box-sizing: border-box !important;
}

#stylev-console-wrapper > * {
	font-size: 11px !important;
	font-family: Menlo, monospace, sans-serif !important;
	text-align: left !important;
	text-indent: 0 !important;
	line-height: 1.7 !important;
	color: #333333 !important;
}

#stylev-console-wrapper {
	position: fixed !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: 10000000000 !important;
	background: rgba(255, 255, 255, 0.8) !important;
	display: flex !important;
	flex-direction: column !important;
	align-items: stretch !important;
	max-height: 40% !important;
}
#stylev-console-wrapper .stylev-console-header {
	display: flex !important;
	flex-wrap: wrap !important;
	overflow: hidden !important;
	justify-content: space-between !important;
	align-items: center !important;
	background-color: #EEE !important;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #CCC !important;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	flex: 0 0 auto !important;
	cursor: ns-resize !important;
}
#stylev-console-wrapper .stylev-console-header:active {
	border-style: dashed !important;
}
#stylev-console-wrapper .stylev-console-header > * {
	display: flex !important;
	align-self: stretch !important;
	align-items: center !important;
	flex: 0 1 auto !important;
	min-height: 28px !important;
	border-bottom: 1px dotted #CCCCCC !important;
	margin-bottom: -1px !important;
	padding: 3px 0 !important;
}
#stylev-console-wrapper .stylev-console-heading {
	justify-content: center !important;
	flex-basis: 32px !important;
}
#stylev-console-wrapper .stylev-console-heading-logo {
	display: flex !important;
}
#stylev-console-wrapper .stylev-console-heading-logo-image {
	width: 20px !important;
	height: 20px !important;
	margin: auto !important;
}
#stylev-console-wrapper .stylev-console-connection {
	padding-left: 6px !important;
	padding-right: 10px !important;
	background-position: 5px center !important;
	background-repeat: no-repeat !important;
	background-size: 20px auto !important;
	color: white !important;
	line-height: 1.1 !important;
	flex-shrink: 0 !important;
}
#stylev-console-wrapper .stylev-console-connection:empty {
	display: none !important;
}
#stylev-console-wrapper .stylev-console-connection-image {
	width: 18px !important;
	height: 18px !important;
	vertical-align: -18% !important;
	margin-right: 5px !important;
}
#stylev-console-wrapper .stylev-console-connected {
	background-color: #008000 !important;
}
#stylev-console-wrapper .stylev-console-disconnected {
	background-color: #FF0000 !important;
}
@media (max-width: 640px) {
	#stylev-console-wrapper .stylev-console-connection {
		position: relative !important;
		width: 30px !important;
		color: transparent !important;
		text-indent: 100% !important;
		white-space: nowrap !important;
		overflow: hidden !important;
		padding: 0 !important;
		background-position: center center !important;
	}
	#stylev-console-wrapper .stylev-console-connection-image {
		position: absolute !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		margin: auto !important;
	}
}

#stylev-console-wrapper .stylev-console-counter {
	flex-grow: 1 !important;
	padding-right: 10px !important;
	line-height: 1.2 !important;
}
#stylev-console-wrapper .stylev-console-mediaqueries {
	padding: 3px 6px !important;
	background-color: #f9f9f9 !important;
}
#stylev-console-wrapper .stylev-console-mediaqueries-image {
	width: 18px !important;
	height: auto !important;
	margin-right: 4px !important;
}
#stylev-console-wrapper .stylev-console-mediaqueries-text {
	line-height: 1.4 !important;
}
#stylev-console-wrapper .stylev-console-mediaqueries-image:only-child {
	margin-right: 0 !important;
}
#stylev-console-wrapper .stylev-console-buttons {
	margin-left: auto !important;
}
#stylev-console-wrapper .stylev-console-buttons > a {
	display: flex !important;
	justify-content: center !important;
	position: relative !important;
	width: 28px !important;
	color: inherit !important;
	text-align: center !important;
	text-decoration: none !important;
	font-size: 20px !important;
	align-items: center !important;
	align-self: stretch !important;
}
#stylev-console-wrapper .stylev-console-buttons > a > img {
}
#stylev-console-wrapper .stylev-console-refresh-button {
}
#stylev-console-wrapper .stylev-console-refresh-button img {
	width: 22px !important;
	height: 22px !important;
}
#stylev-console-wrapper .stylev-console-refresh-button img.is-hidden {
	display: none !important;
}
#stylev-console-wrapper .stylev-console-refresh-button-image {
}
#stylev-console-wrapper .stylev-console-refresh-button-image-active {
}
#stylev-console-wrapper .stylev-console-refresh-button-active .stylev-console-refresh-button-image-active {
	-webkit-animation: active-button 1s infinite !important;
	-o-animation: active-button 1s infinite !important;
	animation: active-button 1s infinite !important;
}
#stylev-console-wrapper .stylev-console-refresh-count {
	position: absolute !important;
	top: 2px !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	text-align: center !important;
	font-size: 8px !important;
	line-height: 1.5 !important;
	height: 1.5em !important;
	margin: auto !important;
}
@keyframes active-button {
	0% {
		-webkit-transform: scale(1) !important;
	}
	100% {
		-webkit-transform: scale(1.25) !important;
	}
}
@-webkit-keyframes active-button {
	0% {
		-webkit-transform: scale(1) !important;
	}
	100% {
		-webkit-transform: scale(1.25) !important;
	}
}


#stylev-console-wrapper .stylev-console-close-button {
}
#stylev-console-wrapper .stylev-console-close-button-image {
	width: 16px !important;
	height: 16px !important;
}
#stylev-console-wrapper .stylev-console-minimize-button {
}
#stylev-console-wrapper .stylev-console-minimize-button-image {
	width: 16px !important;
	height: 16px !important;
}
#stylev-console-wrapper .stylev-console-normalize-button {
}
#stylev-console-wrapper .stylev-console-normalize-button-image {
	width: 16px !important;
	height: 16px !important;
}
#stylev-console-wrapper .stylev-console-minimize-button.is-hidden,
#stylev-console-wrapper .stylev-console-normalize-button.is-hidden {
	display: none !important;
}
#stylev-console-wrapper .stylev-console-body {
	flex: 1 1 auto !important;
	overflow-y: auto !important;
}
#stylev-console-wrapper .stylev-console-list {
	list-style: none !important;
	line-height: 1.5;
}
#stylev-console-wrapper .stylev-console-list > li {
	padding: 3px 0 2px !important;
}
#stylev-console-wrapper .stylev-console-list > li + li {
	border-top: 1px solid #EEE !important;
}
#stylev-console-wrapper .stylev-console-list-anchor {
	display: block !important;
	padding: 0 5px !important;
	color: inherit !important;
	text-decoration: none !important;
	cursor: pointer !important;
	text-indent: calc(-1.2em - 10px) !important;
	padding-left: calc(1.2em + 10px) !important;
}
#stylev-console-wrapper .stylev-console-list-anchor:before {
	text-indent: 0 !important;
	margin-left: 5px !important;
}
#stylev-console-wrapper .stylev-console-list-anchor:hover {
	text-decoration: underline !important;
}
#stylev-console-wrapper .stylev-console-list-ids {
	float: right !important;
	padding: 0 5px !important;
	display: flex !important;
	text-align: right !important;
	flex: 0 1 auto !important;
}
#stylev-console-wrapper .stylev-console-list-stylevid {
	margin-left: 5px !important;
	color: #808080 !important;
}
#stylev-console-wrapper .stylev-console-list-stylevid:before {
	content: 'stylevid:' !important;
}
#stylev-console-wrapper .stylev-console-list-ruleid {
	margin-left: 5px !important;
	color: #666 !important;
}
#stylev-console-wrapper .stylev-console-list-ruleid:before {
	content: 'Rule:' !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-error {
	border-color: #FFD8D7 !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-warning {
	border-color: #FFDD9E !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-error {
	background-color: #FFEFEF !important;
	color: #FF0000 !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-error > a:before {
	content: '×' !important;
	display: inline-block !important;
	width: 1.2em !important;
	height: 1.2em !important;
	line-height: 1.2 !important;
	margin-right: 0.5em !important;
	vertical-align: middle !important;
	background: #FF0000 !important;
	border-radius: 100% !important;
	color: #FFF !important;
	text-align: center !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-warning {
	background-color: #FFFBE5 !important;
	color: #444444 !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-warning > a:before {
	content: '!' !important;
	display: inline-block !important;
	width: 1.2em !important;
	height: 1.2em !important;
	line-height: 1.2 !important;
	margin-right: 0.5em !important;
	vertical-align: middle !important;
	background: #F6BE00 !important;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0 !important;
	color: #FFF !important;
	text-align: center !important;
}
#stylev-console-wrapper .stylev-console-list > li.stylev-trigger-selected > a {
	font-weight: bold !important;
}

#stylev-console-wrapper .stylev-console-perfect {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}
#stylev-console-wrapper .stylev-console-perfect:after {
	content: 'Parfect!' !important;
	display: block !important;
	font-size: 38px !important;
	height: 50px !important;
	line-height: 50px !important;
}

#stylev-console-wrapper .is-hidden {
	display: none !important;
}