@charset "utf-8";

.content-width {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 4%;
}
.wrapper {
	margin: 0 auto;
}

html:not(.is-fixed-header) .wrapper {
	padding-top: 0 !important;
}
.is-fixed-header .header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}