@charset "utf-8";

.main {
	/*opacity: 0;*/
	/*transition: opacity 1.5s ease;*/
}
.main.fadeIn {
	/*opacity: 1;*/
}

.installation {
	background: #8FFFCB;
	padding: 7% 2%;
}
.installation-heading {
	font-size: 35px;
	text-align: center;
	margin-bottom: 5%;
}
.buttons {
	display: flex;
	justify-content: center;
}

.kv {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 4%;
	padding-bottom: 8%;
}
.kv-logo {
	/* margin-right: 2%; */
	flex-basis: 33.3%;
	margin-top: auto;
	margin-bottom: auto;
}
.kv-logo > * {
	/* -webkit-box-reflect: below 30px
	-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 30%, transparent 100%); */
}
.kv-caption {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 5%;
	flex-basis: 66.6%;
}
.kv-header {
	display: flex;
	margin-bottom: 5%;
}
.kv-heading {
	font-size: calc(1vw + 28px);
	font-weight: normal;
	color: #45853C;
	background: -webkit-linear-gradient(left,  #355431 0%,#45853C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.1;
}
.kv-heading span {
	white-space: nowrap;
}
.kv-body {
	font-size: 15px;
}

.kv-buttons-list {
	display: flex;
	justify-content: space-between;
	margin-top: 6%;
	margin-left: -10px;
}
.kv-buttons-list > li {
	flex: 1 1 50%;
	display: flex;
	padding-left: 10px;
}
.kv-buttons-list > li > a {
	display: flex;
	padding: 6px 12px;
	border: 1px solid transparent;
	text-decoration: none !important;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	background-color: white;
	color: #359C62 !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	flex: 1 0 100%;
}
.kv-buttons-list a:hover {
	border-color: rgb(49, 194, 92);
}
.kv-buttons-list a > img {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}
.kv-buttons-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.kv-buttons-wrapper > * {
	flex: 1 0 auto;
}
.kv-buttons-heading {
	margin-bottom: 5px;
	font-weight: normal;
	text-align: left;
}
.kv-buttons-image-wrapper img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.kv-buttons-caption {

}
.note-list > li + li {
	margin-top: 10px;
}
hr {
	border-style: solid;
	border-color: #000;
	border-width: 1px 0 0 0;
}
.main-body {
	padding-right: 30px;
	box-sizing: border-box;
}
.browser-support {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.browser-support > li.disabled {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.browser-support > li {
	/* float: right; */
}
.browser-support > li + li {
	padding-left: 5px;
}
.browser-support > li img {
	width: 20px;
	height: auto;
}
.buttons-section {
	flex-basis: 380px;
}
.buttons-section + .buttons-section {
	margin-left: 2%;
}
.buttons-section-heading {
	margin-top: 0;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}
#bookmarklet:after {
	content: 'Bookmark this link.';
	display: none;
	color: #7C7D80 !important;
}
.section {
}
.section-header {
	margin-bottom: 2%;
}
.section-heading {
	font-size: calc(2vw + 16px);
	text-align: center;
	font-weight: normal;
}
.section-body {
	text-align: center;
}

.section-slideshare {
	color: white;
	background: darkslateblue;
}

.section-validate {
	margin-top: 6%;
	padding: 6px 12px;
	border: 1px solid transparent;
	text-decoration: none !important;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	background-color: white;
	color: #359C62 !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.section-validate-header {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.section-validate-heading {
	font-weight: normal;
	text-align: left;
}
.section-validate-header + .section-validate-body {
	margin-top: 5px;
}
.section-validate-form {
	display: flex;
}
.section-validate-input[type] {
	flex: 1 1 auto;
	/*font-size: 18px;*/
	padding: 10px;
	border: 0;
	width: 1em;
	outline: 0;
	border-bottom: 1px solid #289C1F;
}
.section-validate-button {
	font-size: 13px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

.section-video {
	position: relative;
	background-color: #C3F5E7;
}
.section-video .section-body {
	overflow: hidden;
	/*margin-top: -10%;*/
	border-radius: 3px;
	/*box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);*/
}
.section-video-tag {
	margin-top: -1.8%;
	margin-bottom: -0.8%;
	max-width: 100%;
	height: auto;
}
.section-gif-animation {
	max-width: 100%;
	height: auto;
}
.section-feature {
	background: #FFFF8E;
}
.section-feature * {
	background: inherit;
}
.section-feature-descriptions {
	position: relative;
	z-index: 100;
	font-size: calc(1vw + 10px);
	margin: 6%;
	line-height: 1.2;
}
.section-feature-descriptions > * + * {
	margin-top: 2%;
}
.section-feature-list {
	position: relative;
	display: flex;
	padding-bottom: 48%;
}
.section-feature-list:before,
.section-feature-list:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 70%;
	height: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: -20%;
	padding-bottom: 60%;
}
.section-feature-list:before {
	border: 1px solid #DCDCD7;
	border-radius: 50% 50%;
}

.section-feature-list:after {
	content: '';
	background: url(/img/style-validator.logo.svg) no-repeat center center;
	background-size: 20% auto;
}
.section-feature-list > li {
	position: absolute;
	width: 33.333%;
	background: inherit;
	text-align: center;
}
.section-feature-list > li img {
	width: 80%;
	max-width: 160px;
	height: auto;
	border: 5px solid #FFFF8E;
}
.section-feature-html {
	left: 0;
}
.section-feature-css {
	bottom: 0;
	left: 33.333%;
}
.section-feature-js {
	left: 66.666%;
}
.section-feature-js img {
	width: 70% !important;
}

@media (max-width: 640px) {

	.kv {
		flex-direction: column;
	}
	.kv > * {
		flex-basis: auto;
	}
	.kv-logo {
		height: 200px;
		padding: 20px 5% 60px;
	}
	.kv-caption {
		padding-left: 0;
		text-align: center;
	}
	.kv-header {
		justify-content: center;
	}
}