@charset "utf-8";

.wrapper {
	margin: 0 auto;
	padding-top: 0;
	transition: padding-top 1s ease;
}

.main {
	opacity: 0;
	transition: opacity 1.5s ease;
}
.main.fadeIn {
	opacity: 1;
}

.installation {
	background: #8FFFCB;
	padding: 7% 2%;
}
.installation-heading {
	font-size: 35px;
	text-align: center;
	margin-bottom: 5%;
}
.buttons {
	display: flex;
	justify-content: center;
}


.kv {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 4% 4% 9%;
}
.kv-logo {
	/* margin-right: 2%; */
	flex-basis: 33.3%;
	margin-top: auto;
	margin-bottom: auto;
}
.kv-logo > * {
	-webkit-box-reflect: below 30px
	-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 30%, transparent 100%);
}
.kv-caption {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 5%;
	flex-basis: 66.6%;
}
.kv-header {
	display: flex;
}
.kv-heading {
	font-size: 34px;
	font-weight: normal;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#355431+0,7db9e8+100 */
	background: #355431;/* Old browsers */
	background: -moz-linear-gradient(left,  #355431 0%, #45853C 100%);/* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #355431 0%,#45853C 100%);/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #355431 0%,#45853C 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355431', endColorstr='#45853C',GradientType=1 );/* IE6-9 *//* if we can clip, do it */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 5%;
	line-height: 1.1;
}
.kv-heading span {
	white-space: nowrap;
}
.kv-body {
	font-size: 15px;
}

.kv-buttons-list {
	display: flex;
	justify-content: space-between;
	margin-top: 6%;
	flex-wrap: wrap;
	margin-left: -10px;
}
.kv-buttons-list > li {
	flex: 1 1 50%;
	display: flex;
}
.kv-buttons-list > li {
	padding-left: 10px;
}
.kv-buttons-list a {
	display: flex;
	padding: 3% 5%;
	border: 1px solid transparent;
	text-decoration: none !important;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	background-color: white;
	color: #359C62 !important;
	flex: 1 1 auto;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.kv-buttons-list a:hover {
	border-color: rgb(49, 194, 92);
}
.kv-buttons-list a > img {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}
.kv-buttons-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 1 auto;
}
.kv-buttons-wrapper > * {
}
.kv-buttons-heading {
	margin-bottom: 5px;
	font-weight: normal;
}
.kv-buttons-image-wrapper img {
	max-width: 100%;
	height: auto;
}
.kv-buttons-caption {

}
.note-list > li + li {
	margin-top: 10px;
}
hr {
	border-style: solid;
	border-color: #000;
	border-width: 1px 0 0 0;
}
.main-capture {
	/* float: right; */
	max-width: 100%;
	/* margin-top: 20px; */
}
.main-body {
	/* float: left; */
	/* width: 40%; */
	padding-right: 30px;
	box-sizing: border-box;
}
.browser-support {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.browser-support > li.disabled {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.browser-support > li {
	/* float: right; */
}
.browser-support > li + li {
	padding-left: 5px;
}
.browser-support > li img {
	width: 20px;
	height: auto;
}
.buttons-section {
	flex-basis: 380px;
}
.buttons-section + .buttons-section {
	margin-left: 2%;
}
.buttons-section-heading {
	margin-top: 0;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}
.content-width {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.explanation {
	background: #C3F5E7;
	overflow: hidden;
}
.explanation-inner {
	display: flex;
	justify-content: center;
	padding: 6% 4%;
}
.explanation-section {
	flex-basis: 33.3%;
}
.explanation-section-heading {
	margin-top: 0;
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: normal;
}
.explanation-section-body {
	font-size: 16px;
}
.explanation-image {
	flex-basis: 66.66%;
	padding-left: 5%;
}
#bookmarklet:after {
	content: 'Bookmark this link.';
	display: none;
	color: #7C7D80 !important;
}
.slide {padding: 4%;background: darkslateblue;color: white;}
.slide-header {margin-bottom: 2%;}
.slide-heading {
	font-size: 36px;
	text-align: center;
	font-weight: normal;
}
.slide-body {
	text-align: center;
}
@media (max-width: 640px) {

	.kv {
		flex-direction: column;
	}
	.kv-logo {
		height: 200px;
		padding: 5% 5% 15%;
		/* max-height: 150px; */
	}
	.kv-caption {
		padding-left: 0;
	}
	/*.kv-buttons-list {
		flex-direction: column;
	}
	.kv-buttons-list > li + li {
		padding-top: 10px;
	}
	.kv-buttons-list > li + li {
		padding-left: 0;
	}*/
	.explanation-inner {
		flex-direction: column;
	}
	.explanation-image {
		padding-left: 0;
		margin-top: 6%;
	}
}