@charset "utf-8";

html,
body,
.wrapper,
.main {
	height: 100%;
}
.wrapper {
	padding-left: 230px;
}
/* aside */
.aside {
	background: #FFFFFF;
	width: 230px;
	flex-shrink: 0;
	border-right: 1px solid #EAEAEA;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}
/*.aside-heading {
	display: flex;
	padding: 0 25px;
	height: 56px;
}
.aside-heading a {
	display: flex;
	align-items: center;
	color: inherit !important;
	text-decoration: none !important;
	justify-content: flex-end;
	font-size: 18px;
}
.aside-heading img {
	margin-right: 8px;
	align-items: stretch;
	flex-shrink: 0;
	width: 40px;
	height: auto;
}*/
.aside-body {border-top: 1px solid #EEE;}
.aside-section {
	padding: 12px 25px;
}
/* main */
.main {
}
.main-header {
	position: fixed;
	top: 0;
	left: 230px;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	border-bottom: 1px solid #EEE;
	z-index: 1;
	background: #EEEEEE;
}

.main-header > * {
	flex: 1 0 auto;
	align-self: stretch;
	padding: 5px 10px;
	display: flex;
	border-top: 1px solid #DDD;
	height: 56px;
}
.main-heading {
	position: fixed;
	left: 0;
	width: 230px;
	background-color: #FFFFFF;
	display: flex;
	padding: 0 25px;
}
.main-heading a {
	display: flex;
	align-items: center;
	color: inherit !important;
	text-decoration: none !important;
	justify-content: flex-end;
	font-size: 18px;
}
.main-heading img {
	margin-right: 8px;
	align-items: stretch;
	flex-shrink: 0;
	width: 40px;
	height: auto;
}
.main-header-nav {
	display: flex;
	justify-content: flex-end;
}
.main-header-nav > * + * {
	margin-left: 10px;
}
.main-header-nav button,
.main-header-nav .button {
	white-space: nowrap;
	min-width: 52px;
}
.main-header-nav img {
	display: block;
	margin: auto;
}

.main-header-nav button img {
}
.main-header-nav-toggle {
	justify-content: space-around;
	border-left: 1px solid #DDD;
}
.main-header-nav-toggle-list {
	display: flex;
	align-self: center;
}
.main-header-nav-toggle-list > li + li {
	padding-left: 0.5em;
}
.main-header-nav-toggle-list img {
	width: 16px;
	height: 16px;
}
.main-header-nav-search {
	align-items: center;
	justify-content: space-between;
}
.main-header-nav-search img {
	width: 20px;
	height: auto;
}
.main-header-nav-search-label {
	/* display: flex; */
}
.main-header-nav-search-input {
	border: 0;
}
.main-header-nav-search-count {
	margin-left: 0.5em;
	min-width: 3em;
}

/* syntax-explanation */
.syntax-explanation {
	padding: 12px 3%;
	border-bottom: 1px solid #DDD;
}
.syntax-explanation table,
.syntax-explanation table > * {
	display: flex;
	flex-direction: column;
}
.syntax-explanation table > * > tr {
	display: flex;
	flex-wrap: wrap;
}
.syntax-explanation table > * > tr > th {
	flex: 1 0 120px;
}
.syntax-explanation table > * > tr > td {
	flex: 3 1 auto;
	width: 66.666%;
}
.syntax-explanation-table > tbody > tr {
	padding: 10px;
}
.syntax-explanation-table > tbody > tr + tr {
	border-top: 1px dashed #999;
}
.syntax-explanation-table > tbody > tr > th,
.syntax-explanation-inner-table > tbody > tr > th {
	text-align: left;
}
.syntax-explanation-inner-table {
	margin-top: 10px;
	background: #EEEEEE;
}
.syntax-explanation-inner-table > tbody > tr {
	padding: 0.5em 1em;
}

/* styles-list */
.rules-list {
	-webkit-columns: 3 300px;
	-moz-columns: 3 300px;
	columns: 3 300px;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	padding: 3%;
}
.rules-list > li {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.rules-list > li[data-ruleid]:before {
	display: block;
	content: 'Rule ID: ' attr(data-ruleid);
	color: #999;
	font-size: 10px;
	text-align: right;
}
.rules-list-wrapper {
	background: white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
	border: 1px solid #DDD;
}
.rules-list-header {

}
.rules-list-body {
	padding: 10px;
	/* margin-top: -10px; */
}
.rules-list-body > *:not(.hidden) ~ *:not(.hidden) {
	margin-top: 10px;
}
.styles-list {
	cursor: pointer;
	/*font-family: Menlo, monospace, sans-serif;*/
}
.styles-list > li {
	position: relative;
	padding-left: 2.2em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.styles-list > li + li:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2.2em;
	padding-right: 0.25em;
	text-align: right;
	color: #BBB;
	line-height: inherit;
	margin-top: 1px;
}
.styles-list-base > li + li:before {
	content: 'and';
}
.styles-list-ng > li + li:before {
	content: 'or';
}
.styles-list {
	position: relative;
}
.styles-list:after {
	content: '+';
	position: absolute;
	top: 1px;
	right: 0;
	color: white;
	padding: 5px 10px;
	border-left: 1px dashed white;
	display: none;
}
.styles-list:hover:after {
	display: block;
}
.styles-list {
}
.styles-list:before {
	content: attr(data-id);
	white-space: pre-wrap;
	display: block;
	float: none;
	color: white;
	padding: 5px;
	font-size: 13px;
}
.styles-list[data-id*="base-styles"]		{ border-left: 3px solid #999999; }
.styles-list[data-id*="error-styles"]		{ border-left: 3px solid #EE363B; }
.styles-list[data-id*="warning-styles"]		{ border-left: 3px solid #F7BF00; }

.styles-list[data-id*="base-styles"]:before		{ background-color: #999999; }
.styles-list[data-id*="error-styles"]:before	{ background-color: #EE363B; }
.styles-list[data-id*="warning-styles"]:before	{ background-color: #F7BF00; }

.styles-list > li {
	white-space: nowrap;
}
.styles-list > li + li {
	border-top: 1px solid #EEE;
}
.styles-list-meta-data {
	margin-top: 2px;
}
.styles-list-meta-data label {
	display: block;
	padding-left: 1.5em;
}
.styles-list-meta-data-reason {
	background: url(/img/iconmonstr-help-3-icon.svg) no-repeat left 0.1em;
	background-size: 1.2em auto;
}
.styles-list-meta-data-reference-url {
	background: url(/img/iconmonstr-link-icon-gray.svg) no-repeat left 0.2em;
	background-size: 1.2em auto;
}
.styles-list > li input[type="text"],
.styles-list > li textarea {
	border: 0;
	padding: 0;
	background-color: transparent;
}
.styles-list > li input[type="text"].css-property,
.styles-list > li input[type="text"].css-property-value {
	width: 25px;
}
.styles-list > li input[type="text"].css-property-value {
	max-width: 188px;
}
.styles-list > li input[type="text"].css-property.valid {
	color: #CA0000;
}
.styles-list > li input[type="text"].css-property-value.valid {
	color: #007300;
}
.styles-list > li input[type="text"].reason {
	color: #666666;
}
.styles-list > li input[type="text"].reference-url {
	color: #359C62;
}
.styles-list > li input[type="text"].invalid {
	text-decoration: line-through;
	color: #999;
}

.styles-list > li input[type="text"]:focus,
.styles-list > li input[type="text"]:hover,
.styles-list > li textarea:focus,
.styles-list > li textarea:hover {
	outline: 1px solid #999;
	outline-offset: 0;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	margin-right: 0 !important;
}
.styles-list > li input[type="text"]:focus {
	text-decoration: none !important;
	color: initial !important;
}

.styles-list-meta-data label {
	display: block;
}
.styles-list-meta-data input[type="text"],
.styles-list-meta-data textarea {
	width: 100%;
}
.styles-list-meta-data textarea {
	resize: none;
	height: 1.4em;
	font-style: italic;
	overflow: hidden;
}

.text-input {
	display: flex;
	alignment-baseline: middle;
	justify-content: space-between;
}
.type-select {
	display: flex;
	alignment-baseline: middle;
}
.type-select:before {
	content: attr(data-id) ':';
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-shrink: 0;
	padding-right: 5px;
}
.text-input input[type="text"] {
	width: 100%;
	border: 0;
	padding: 8px 10px;
}
.description {
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.description p {
	color: #999;
}

.description table {
	border-collapse: collapse;
}
.description table th,
.description table td {
	border: 1px solid #DDD;
	padding: 10px;
}

.dummy-wrapper {
	position: fixed;
	top: 0;
	visibility: hidden;
	pointer-events: none;
}

[data-id="title"] {
	border-bottom: 1px solid #E5E5E5;
	font-size: 16px;
	color: #5F5F5F;
}
[data-id="title"]:before {
	display: none;
}

.text-input a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 40px;
	align-items: center;
}
[data-id="title"] a {
	display: none;
	font-size: 12px;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	background-repeat:  no-repeat;
	background-position: center center;
	background-size: 18px auto;
}
.edit-button {
	background-image: url(/img/iconmonstr-edit-8-icon.svg);
}
.remove-button {
	background-image: url(/img/iconmonstr-x-mark-3-icon.svg);
}
.edit-mode .edit-button {
	background-image: url(/img/iconmonstr-save-5-icon.svg);
	background-size: 20px auto;
}
.edit-mode .remove-button {
	opacity: 0;
	pointer-events: none;
}
.rules-list > li:hover [data-id="title"] a,
.rules-list > li.edit-mode [data-id="title"] a {
	display: flex;
}

#loadingSpinner {
	position: relative;
	height: 100%;
}
#loadingSpinner:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 8px;
	text-indent: -9999em;
	border-top: 0.6em solid rgba(69, 133, 60, 0.2);
	border-right: 0.6em solid rgba(69, 133, 60, 0.2);
	border-bottom: 0.6em solid rgba(69, 133, 60, 0.2);
	border-left: 0.6em solid #45853C;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
#loadingSpinner:after {
	content: 'Loading...';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #5f9153;
}
#loadingSpinner:before {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (min-width: 900px) {

	.rules-list-list {
		-webkit-columns: 1 auto;
		-moz-columns: 1 auto;
		columns: 1 auto;
		-webkit-column-gap: normal;
	}
	.rules-list-list .styles-list {
		display: flex;
		flex-wrap: wrap;
	}
	.rules-list-list .styles-list:before {
		flex-basis: 100%;
		flex-shrink: 0;
	}
	.rules-list-list .styles-list > li + li {
		border-top: 0;
	}
	.rules-list-list .styles-list > li {
		flex-basis: 33.3%;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid #EEE;
		border-right: 1px solid #EEE;
		overflow: hidden;
	}
	.rules-list-list .styles-list > li + li:before {
		top: 0.5em;
	}
	.rules-list-list .styles-list > li:only-child {
		flex-basis: 100%;
	}
}
@media (max-width: 900px) {

	.main-header-nav-toggle-mode {
		display: none;
	}
	.aside {
		display: none;
	}
	.wrapper {
		padding-left: 0;
	}
	.main-header {
		left: 0;
	}
	.main-heading {
		position: static;
		font-size: 16px;
		align-items: center;
		width: auto;
		background-color: transparent;
	}
	.main-heading > a {
		display: flex;
		flex: 0 0 auto;
		color: inherit !important;
		align-items: center;
	}
	.main-heading > a img {
		width: 35px;
		height: 35px;
		margin-right: 0.3em;
	}
	.main-header-nav-search {
		display: none;
	}
}