@charset "utf-8";

/* reset */
body, div, p, ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, table, th, td, img, form {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-size: 13px;
	line-height: 1.4;
	font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #F9F9F9;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
}
body {
	color: #464646;
}
ul {
	list-style: none;
}
img, input, select, textarea, button, svg, canvas {
	vertical-align: middle;
}
input, select, textarea, button {
	outline: 0;
	background-color: inherit;
	color: inherit;
}
input, textarea {
	 line-height: inherit;
}
input, select, textarea, button, h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-family: inherit;
}

/* anchors */
a:link,
a:visited {
	color: #359C62;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

/* structure */
html,
body {
	height: 100%;
}
/* wrapper */
.wrapper {
	height: 100%;
	padding-top: 90px;
}
/* header */
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 1% 4%;
	background: #FFFFFF;
	color: #355431;
	/* border-bottom: 1px solid #478440; */
}
.header-first {
	display: flex;
	justify-content: space-between;
	line-height: 32px;
}

.header-second {
	margin-top: 5px;
}
.header-heading {
	/* flex-grow: 1; */
	align-items: center;
	display: flex;
}
.header-heading a {
	display: flex;
	align-items: center;
	color: inherit !important;
	text-decoration: none !important;
	justify-content: flex-end;
	font-size: 20px;
}
.header-heading img {
	/* margin-top: -0.5%; */
	margin-right: 8px;
	align-items: stretch;
	flex-shrink: 0;
	height: 34px;
	width: auto;
	flex-basis: 40px;
}
.header-nav {
	display: flex;
	flex-basis: 50%;
	justify-content: flex-end;
	/* flex-grow: 1; */
}
.header-nav > * + * {
	margin-left: 5px;
}
.header-nav button,
.header-nav .button {
	line-height: 1.1;
	/* align-self: center; */
}
.header-nav img {
	/* margin-top: -3px; */
	display: block;
	margin: auto;
}
.header-second-nav {
	display: flex;
	justify-content: space-between;
}
.header-second-nav-list {
	display: flex;
}
.header-second-nav-list > li + li {
	margin-left: 1em;
}
/* main */
.main {
	/* display: flex; */
	padding: 4%;
	min-height: 100%;
}

/* styles-list */
.styles-list-wrapper {
	-webkit-column-width: 300px;
	-webkit-column-gap: 1em;
}
.styles-list-wrapper > li {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
	border: 1px solid #DDD;
}
.styles-list-header {

}
.styles-list-body {
	padding: 3% 4%;
	/* margin-top: -10px; */
}
.styles-list-body > *:not(.hide-rule) ~ *:not(.hide-rule) {
	margin-top: 10px;
}
.styles-list {
	cursor: pointer;
	/*font-family: Menlo, monospace, sans-serif;*/
}
.styles-list > li {
	position: relative;
	padding-left: 2.2em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.styles-list > li + li:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2.2em;
	padding-right: 0.25em;
	text-align: right;
	color: #BBB;
	line-height: inherit;
	margin-top: 1px;
}
.styles-list-base > li + li:before {
	content: 'and';
}
.styles-list-ng > li + li:before {
	content: 'or';
}
/*.styles-list-base:before,
.styles-list-base:after {
	display: block;
}
.styles-list-base:before {
	content: attr(data-id) ' {';
	float: left;
}
.styles-list-base:after {
	content: '}';
	clear: both;
}*/
.styles-list {
	position: relative;
}
.styles-list:after {
	content: '+';
	position: absolute;
	top: 1px;
	right: 0;
	color: white;
	padding: 1% 2.5%;
	border-left: 1px dashed white;
	display: none;
}
.styles-list:hover:after {
	display: block;
}
.styles-list {
}
.styles-list:before {
	content: attr(data-id);
	white-space: pre-wrap;
	display: block;
	float: none;
	color: white;
	padding: 1% 2%;
	font-size: 16px;
}
.styles-list[data-id*="base-styles"]		{ border-left: 3px solid #999999; }
.styles-list[data-id*="error-styles"]		{ border-left: 3px solid #EE363B; }
.styles-list[data-id*="warning-styles"]		{ border-left: 3px solid #F7BF00; }

.styles-list[data-id*="base-styles"]:before		{ background-color: #999999; }
.styles-list[data-id*="error-styles"]:before	{ background-color: #EE363B; }
.styles-list[data-id*="warning-styles"]:before	{ background-color: #F7BF00; }

.styles-list > li {
	white-space: nowrap;
}
.styles-list > li + li {
	border-top: 1px solid #EEE;
}
.styles-list-meta-data {
	margin-top: 2px;
}
.styles-list-meta-data label {
	display: block;
	padding-left: 1.5em;
}
.styles-list-meta-data-reason {
	background: url(../img/iconmonstr-help-3-icon.svg) no-repeat left 0.2em;
	background-size: 1.2em auto;
}
.styles-list-meta-data-reference-url {
	background: url(../img/iconmonstr-link-icon-gray.svg) no-repeat left 0.2em;
	background-size: 1.2em auto;
}
.styles-list > li input[type="text"],
.styles-list > li textarea {
	border: 0;
	padding: 0;
	background-color: transparent;
}
.styles-list > li input[type="text"].css-property,
.styles-list > li input[type="text"].css-property-value {
	width: 25px;
}
.styles-list > li input[type="text"].css-property-value {
	max-width: 188px;
}
/*.styles-list > li input[type="text"].css-property-value:focus {
	max-width: none;
}*/
.styles-list > li input[type="text"].css-property.valid {
	color: #CA0000;
}
.styles-list > li input[type="text"].css-property-value.valid {
	color: #007300;
}
.styles-list > li input[type="text"].reason {
	color: #666666;
}
.styles-list > li input[type="text"].reference-url {
	color: #359C62;
}
.styles-list > li input[type="text"].invalid {
	text-decoration: line-through;
	color: #999;
}

.styles-list > li input[type="text"]:focus,
.styles-list > li input[type="text"]:hover,
.styles-list > li textarea:focus,
.styles-list > li textarea:hover {
	outline: 1px solid #999;
	outline-offset: 0;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	margin-right: 0 !important;
}
.styles-list > li input[type="text"]:focus {
	text-decoration: none !important;
	color: initial !important;
}

.styles-list-meta-data label {
	display: block;
}
.styles-list-meta-data input[type="text"],
.styles-list-meta-data textarea {
	width: 100%;
}
.styles-list-meta-data textarea {
	resize: none;
	height: 1.4em;
	font-style: italic;
	overflow: hidden;
}

.styles-input {
	display: flex;
	alignment-baseline: middle;
	justify-content: space-between;
}
.styles-select {
	display: flex;
	alignment-baseline: middle;
}
.styles-select:before {
	content: attr(data-id) ':';
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-shrink: 0;
	padding-right: 5px;
}
.styles-input input[type="text"] {
	width: 100%;
	border: 0;
	padding: 2% 4%;
}
.description {
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.description p {
	color: #999;
}

.description table {
	border-collapse: collapse;
}
.description table th,
.description table td {
	border: 1px solid #DDD;
	padding: 10px;
}

/* module */
input[type="text"] {
	background-color: white;
	border: 1px solid #999;
}
button,
.button {
	background-color: #478440;
	color: white !important;
	border: 0;
	font-size: 11px;
	padding: 1% 4%;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
	border-radius: 4px;
	border-bottom: 2px solid #4baa3d;
}
.dummy-wrapper {
	position: fixed;
	top: 0;
	visibility: hidden;
	pointer-events: none;
}

[data-id="title"] {
	border-bottom: 1px solid #E5E5E5;
	font-size: 16px;
}
[data-id="title"]:before {
	display: none;
}

.styles-input a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 40px;
	align-items: center;
}
[data-id="title"] a {
	display: none;
	font-size: 12px;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	background-repeat:  no-repeat;
	background-position: center center;
	background-size: 18px auto;
}
.edit-button {
	background-image: url(../img/iconmonstr-edit-8-icon.svg);
}
.edit-mode .edit-button {
	display: flex;
	background-image: url(../img/iconmonstr-save-5-icon.svg);
	background-size: 20px auto;
}
.remove-button {
	background-image: url(../img/iconmonstr-x-mark-3-icon.svg);
}
.edit-mode .remove-button {
	display: flex;
	opacity: 0;
	pointer-events: none;
}
.styles-list-wrapper > li:hover [data-id="title"] a {
	display: flex;
}
.edit-mode .styles-select {
	display: flex !important;
}
.edit-mode .styles-list {
	display: block !important;
}
.hide-rule {
	display: none;
}
.footer {
	padding: 1% 4%;
}


#loadingSpinner {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 10px;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(69, 133, 60, 0.2);
	border-right: 1.1em solid rgba(69, 133, 60, 0.2);
	border-bottom: 1.1em solid rgba(69, 133, 60, 0.2);
	border-left: 1.1em solid #45853C;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
#loadingSpinner,
#loadingSpinner:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
